<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Air Quality in Birmingham</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-12 jumbotron text-center">
                <h1>Air Quality and Asthma</h1>
                <p>Use the interactive charts below to explore the datasets</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="heatmap"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="well">
                    <h5>nearest GP:</h5>
                    <select id="selDataset" onchange="optionChanged(this.value)">
                        <option value="default value">Birmingham Practioners:</option>
                    </select>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Average Air Quality</h3>
                    </div>
                    <div id="sample-metadata" class="panel-body"></div>
                </div>
            </div>
            <div class="col-md-5">
                <div id="time series"></div>
            </div>
            <div class="col-md-5">
                <div id="scatter"></div>
            </div>
        </div>
    </div>

    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    
    <script>
        console.log("checkpoint 1");
        var gp_practice_dict = {{data[0]|tojson}};
        console.log(typeof gp_practice_dict);
        var air_pollution_data = {{data[0]|tojson}};
        console.log(typeof air_pollution_data);
    </script>
    <script src="./static/js/app.js"></script>

</body>

</html>